<form action="<%=answer_path %>" data-turbo="false">
  <input type="text" placeholder="any question for the coach ?" name="question">
  <button type="submit" class="btn btn-primary">Ask !</button>
</form>
